extends ../template


block variables
  - var title = 'Обо мне'

block content
  .about__wrapper
    section.header
      .header__top
        ul.socials.header__socials
          each item in ["vk", "github"]
            li.socials__item.socials__item-about
              a(href='' class="socials__link socials__link-white socials__link_" + item)
                svg(class='socials__link-img socials__link-img_' + item) 
                  use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#" + item)
        .about__hamburger
          svg.hamburger
            use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#hamburger")
      .person.person-normal
        include ../common/person.pug
      .header__scroll
        svg.arrow
          use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#arrow_down") 
      .header__triangles
        svg.triangle(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none")
          polygon.left-triangle(points="0,0   0,86   500.8,86   500.8,75.5")
          polygon.right-triangle(points="1000,0   1000,86   500,86   500,75.5")   
    section.about
      .about__person
        .about__heading
          h1.about__heading-text Обо мне
        .about__desc
          .about__picture
            img.about__img(src="assets/images/about_picture.png", alt="")
          h2.about__heading-desc Кто я
          p.about__text Я веб разработчик из Уфы. Мне 25 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
          p.about__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      .about__skills
        .skills__desc
          .skills__heading.skills__heading-decorated
            h2.skills__heading-text Чем я могу быть 
          .skills__heading  
            h2.skills__heading-text вам полезен
          p.skills__text Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
        ul.skills-list
          each item in ['Frontend', 'Backend', 'Workflow']
            li.skills-list__item
              .skills-row
                span.skills-row__title #{item}
                ul.skills-row__list
                  each skill in ['HTML5', 'CSS3', 'JavaScript']
                    li.skills-row__item
                      .skill
                        img.skill__circle(src="assets/images/skill.png")
                        span.skill__title #{skill}
    section.about__map
      .google-map
      .about__contacts
        ul.contacts__list
          h2.contacts__heading Контакты
          - 
            var contacts = [
              ['envelope', 'r0mulusss@yandex.ru'],
              ['phone', '+7 917 415 6336'],
              ['map_marker', 'Уфа'],
            ]
          each contact in contacts
            li.contacts__item
              .contacts-row
                .contacts-row__icon
                  svg(class='contacts-img contacts-img_' + contact[0]) 
                      use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#" + contact[0]) 
                .contacts-row__content #{contact[1]}
        .footer.footer_about
          .footer__row
            ul.footer-menu
              -
                var menu = [
                  ['Мои Работы', 'works.html'],
                  ['Обо мне', 'about.html'],
                  ['Блог','blog.html'],
                  ['Авторизация', 'login.html'],
                ]
              each item in menu
                li.footer-menu__item
                  a.footer-menu__text(href='' + item[1]) #{item[0]}
            ul.footer-socials
              each item in ["vk", "github"]
                li.socials__item
                  a(href='' class="socials__link socials__link-white socials__link_" + item + "_round")
                    svg(class='socials__link-img socials__link-img_' + item + "_round") 
                      use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#" + item + "_round")
          .footer__row
            p.about__copyright.about__copyright-left Я разрабочтик из Уфы, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool
            p.about__copyright.about__copyright-right © Роман Зайнуллин | создано с любовью в LoftSchool | 2017

      
          

