extends ../template

block variables
  - var title = 'Портфолио разработчика'

block content
  .welcome__wrapper
    .welcome__auto
      a.welcome__button(href="login.html")
        span.welcome__button-text Авторизоваться
    .welcome__block
      .welcome__block-container
        include ../common/person.pug
        ul.socials
          each item in ["vk", "github"]
            li.socials__item
              a(href='' class="socials__link socials__link_" + item)
                svg(class='socials__link-img socials__link-img_' + item) 
                  use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#" + item)
      ul.menu
        - 
          var items = [
            ['Мои работы', 'works'],
            ['Обо мне', 'about'],
            ['Блог', 'blog'],
          ] 
        each item in items
          li.menu__item
              a.menu__link(href=''+ item[1] + '.html') #{item[0]}  
    .welcome__copyrights
      span.welcome__copyrights-text © Зайнуллин Роман | создано с любовью в LoftSchool | 2017            
