.header {
    background: url('../images/mountains_about.png') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: rem(600px);
    position: relative;
    display: flex;
    flex-direction: column;
}

.hamburger {
    width: rem(40px);
    height: rem(35px);
    fill: #ffffff;
}

.header__top {
    display: flex;
    justify-content: space-between;
}

.header__socials {
    display: flex;
    align-items: center;
    margin-left: rem(30px);
    margin-top: rem(28px);
    justify-content: flex-start;
    @include phones {
        margin-bottom: 0;
    }
}

.socials__item-about {
    margin-right: rem(30px);
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
    &:hover {
        opacity: 1;
    }
}

.socials__link-white {
    fill: #ffffff;
}

.about__hamburger {
    align-self: right;
    margin-top: rem(28px);
    margin-right: rem(30px);
}

.person {
    text-align: center;
    .person__name {
        color: white;
    }
    .person__desc {
        color: white;
        font-family: 'Roboto Light', Arial, Helvetica, sans-serif;
    }
}

.person-normal {
    background: url("../images/portfolio_header.png") center center no-repeat;
    background-size: contain;
    margin-top: rem(90px);
    margin-bottom: rem(135px);
}

.header__scroll {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: rem(90px);
    align-self: center;
}

.header__triangles {
    display: flex;
    flex-direction: column;
}

.left-triangle {
    fill: #efeee9;
}

.right-triangle {
    fill: #efeee9;
}

.arrow {
    width: rem(26px);
    height: rem(16px);
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    fill: #ffffff;
    &:hover {
        opacity: 1;
    }
}

.about {
    display: flex;
    /* padding-bottom: rem(70px); */
    @include tablets {
        flex-direction: column;
    }
}

.about__person {
    width: 50%;
    display: flex;
    background-color: #efeee9;
    @include netbooks {
        flex-direction: column;
    }
    @include tablets {
        width: 100%;
    }
}

.about__heading {
    width: 50%;
    display: flex;
    justify-content: center;
    font-family: 'Bernier Regular', Arial, Helvetica, sans-serif;
    color: $darkolive;
    @include netbooks {
        width: 100%;
    }
}

.about__heading-text {
    font-size: rem(63px);
    line-height: rem(66px);
    &::before {
        content: ' ';
        width: rem(22px);
        height: rem(5px);
        background-color: $grey;
        display: inline-block;
        vertical-align: middle;
        margin-right: rem(20px);
        margin-bottom: rem(15px);
    }
    &::after {
        content: ' ';
        width: rem(22px);
        height: rem(5px);
        background-color: $grey;
        display: inline-block;
        vertical-align: middle;
        margin-left: rem(20px);
        margin-bottom: rem(15px);
    }
}

.about__desc {
    width: 50%;
    margin-right: rem(20px);
    @include netbooks {
        width: 100%;
    }
}

.about__picture {
    @include tablets {
        padding-left: rem(80px);
        padding-right: rem(80px);
    }
}

.about__img {
    width: 100%;
}

.about__heading-desc {
    font-family: 'Bernier Regular', Arial, Helvetica, sans-serif;
    font-size: rem(30px);
    color: $darkolive;
    text-align: center;
    &::before {
        content: ' ';
        width: rem(22px);
        height: rem(5px);
        background-color: $grey;
        display: inline-block;
        vertical-align: middle;
        margin-right: rem(20px);
        margin-bottom: rem(5px);
    }
    &::after {
        content: ' ';
        width: rem(22px);
        height: rem(5px);
        background-color: $grey;
        display: inline-block;
        vertical-align: middle;
        margin-left: rem(20px);
        margin-bottom: rem(5px);
    }
}

.about__text {
    color: $darkolive;
    font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;
    @include tablets {
        padding-left: rem(80px);
        padding-right: rem(80px);
    }
    @include phones {
        padding-left: rem(10px);
        padding-right: rem(10px);
    }
}

.about__skills {
    width: 50%;
    background-color: #eeebdf;
    padding-left: rem(40px);
    @include tablets {
        padding-left: 0;
        width: 100%;
    }
}

.skills__desc {
    display: flex;
    flex-direction: column;
}

.skills-list {
    padding-bottom: rem(70px);
}

.skills__heading {
    font-family: 'Bernier Regular', Arial, Helvetica, sans-serif;
    font-size: rem(32px);
    color: $darkolive;
    text-align: center;
    align-self: center;
}

.skills__heading-decorated {
    display: flex;
    &::before {
        content: ' ';
        width: rem(22px);
        height: rem(5px);
        background-color: $grey;
        display: inline-block;
        vertical-align: middle;
        margin-right: rem(20px);
        margin-top: rem(30px);
    }
    &::after {
        content: ' ';
        width: rem(22px);
        height: rem(5px);
        background-color: $grey;
        display: inline-block;
        vertical-align: middle;
        margin-left: rem(20px);
        margin-top: rem(30px);
    }
}

.skills__heading-text {
    margin: 0;
}

.skills__text {
    color: $darkolive;
    font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;
    @include tablets {
        padding-left: rem(80px);
        padding-right: rem(80px);
    }
    @include phones {
        padding-left: rem(10px);
        padding-right: rem(10px);
    }
}

.skills-row {
    margin-bottom: rem(45px);
    @include tablets {
        text-align: center;
    }
}

.skills-row__title {
    color: $darkolive;
    font-family: 'Roboto Medium', Arial, Helvetica, sans-serif;
    font-size: rem(28px);
}

.skills-row__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: rem(20px);
    //max-width: rem(640px);
    @include tablets {
        justify-content: space-evenly;
    }
}

.skill {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: rem(40px);
    margin-bottom: rem(5px);
    @include tablets {
        margin-right: 0;
    }
}

.skill__title {
    font-family: 'Roboto Medium', Arial, Helvetica, sans-serif;
    font-size: rem(14px);
    color: $brightazure;
    position: absolute;
    text-align: center;
    align-self: center;
}

.about__contacts {
    background-color: white;
    height: rem(973px);
    display: flex;
    justify-content: center;
    position: relative;
}

.contacts__heading {
    margin: 0;
    text-align: center;
    margin-top: rem(23px);
    margin-bottom: rem(27px);
    font-size: rem(35px);
    font-family: 'Bernier Regular', Arial, Helvetica, sans-serif;
    &::before {
        content: ' ';
        width: rem(22px);
        height: rem(5px);
        background-color: $grey;
        display: inline-block;
        vertical-align: middle;
        margin-right: rem(20px);
        margin-bottom: rem(5px);
    }
    &::after {
        content: ' ';
        width: rem(22px);
        height: rem(5px);
        background-color: $grey;
        display: inline-block;
        vertical-align: middle;
        margin-left: rem(20px);
        margin-bottom: rem(5px);
    }
}

.contacts__list {
    width: rem(380px);
    height: rem(290px);
    background: #e4f7f4;
    align-self: center;
    opacity: .85;
    @include phones {
        align-self: initial;
        background: white;
    }
}

.contacts-row {
    display: flex;
    margin-bottom: rem(20px);
    padding-left: rem(40px);
}

.contacts-img {
    height: rem(24px);
    width: rem(24px);
    fill: #00bea4;
}

.contacts-row__content {
    font-family: "Roboto Medium", Arial, Helvetica, sans-serif;
    margin-left: rem(10px);
}

.footer {
    height: rem(147px);
    width: 100%;
    background: #53595d;
    z-index: 2;
    display: flex;
    flex-direction: column;
    opacity: .85;
    @include tablets {
        height: rem(240px);
    }
}

.footer__row {
    height: rem(73px);
    width: 100%;
    display: flex;
    border-bottom: 1px solid #666c6e;
    padding-left: rem(30px);
    padding-right: rem(30px);
    &:last-child {
        border-bottom: none;
    }
    @include tablets {
        height: rem(120px);
        flex-direction: column;
    }
}

.footer-menu {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    @include tablets {
        justify-content: space-around;
    }
}

.footer-menu__item {
    display: flex;
    align-items: center;
    font-family: 'Roboto Medium', Arial, Helvetica, sans-serif;
    margin-right: rem(40px);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:last-child {
        margin-right: 0;
    }
    @include tablets {
        padding: 20px 0 20px 0;
        margin-right: 0;
    }
}

.footer-menu__text {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    &:hover {
        color: #00bfa5;
    }
    @include phones {
        font-size: rem(13px);
    }
}

.footer-socials {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    .socials__item {
        margin-right: 0;
        margin-left: rem(10px);
    }
    @include tablets {
        justify-content: center;
    }
}

.socials__link-img_vk_round {
    width: rem(36px);
    height: rem(36px);
    opacity: 0.85;
}

.socials__link-img_github_round {
    width: rem(36px);
    height: rem(36px);
}

.about__copyright {
    width: 100%;
    font-family: 'Roboto Light', Arial, Helvetica, sans-serif;
    color: #888b8d;
    margin-top: rem(5px);
    margin-bottom: rem(5px);
    &-left {
        text-align: left;
    }
    &-right {
        text-align: right;
    }
    @include tablets {
        text-align: center;
    }
    @include phones {
        margin: 0;
    }
}