.works__wrapper {
    font-size: rem(14px);
}

.works__portfolio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.works-container {
    height: rem(750px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @include tablets {
        min-height: rem(990px);
        height: initial;
    }
    @include phones {
        min-height: rem(860px);
    }
}

.works-heading {
    height: rem(185px);
    font-family: 'Bernier Regular', Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #efeee9;
    width: 100%;
    @include phones {
        height: rem(90px);
    }
}

.heading-text {
    margin: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: rem(63px);
    line-height: rem(66px);
    max-width: rem(450px);
    font-family: 'Bernier Regular', Arial, Helvetica, sans-serif;
    &::before {
        content: ' ';
        width: rem(22px);
        height: rem(5px);
        background-color: $grey;
        display: inline-block;
        vertical-align: middle;
        //margin-top: rem(40px);
    }
    &::after {
        content: ' ';
        width: rem(22px);
        height: rem(5px);
        background-color: $grey;
        display: inline-block;
        vertical-align: middle;
        //margin-top: rem(40px);
        &:last-child {
            content: none;
        }
    }
    @include tablets {
        max-width: rem(350px);
        font-size: rem(49px);
        line-height: rem(52px);
    }
    @include phones {
        max-width: rem(280px);
        font-size: rem(35px);
        line-height: rem(42px);
    }
}

.heading-text__works {
    color: $darkheading;
    &::before {
        margin-top: rem(30px);
        margin-right: rem(20px);
        @include tablets {
            margin-top: rem(25px);
        }
        @include phones {
            margin-top: rem(17px);
        }
    }
    &::after {
        margin-top: rem(30px);
        margin-left: rem(20px);
        @include tablets {
            margin-top: rem(25px);
        }
        @include phones {
            margin-top: rem(17px);
        }
    }
}

.works-heading__wrap {
    background: url("../images/works_header.png") center center no-repeat;
    background-size: contain;
    margin: auto;
    display: flex;
    align-items: center;
}

.heading-text__school {
    font-family: 'Bernier Regular', Arial, Helvetica, sans-serif;
    color: $darkheading;
    font-size: rem(35px);
    line-height: rem(41px);
    max-width: rem(400px);
    &::before {
        margin-top: rem(20px);
    }
    &::after {
        margin-top: rem(20px);
        &:last-child {
            content: none;
        }
    }
}

.works-school {
    width: 50%;
    height: rem(750px);
    background-color: #f0efe9;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    @include tablets {
        order: 2;
        width: 100%;
        height: initial;
        padding-top: rem(10px);
        padding-bottom: rem(50px);
    }
}

.works-school__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

.works-school__skills {
    max-width: rem(425px);
    min-width: rem(320px);
    height: rem(50px);
    font-family: 'Roboto Medium', Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #acd6ce;
    border-top: 1px solid #acd6ce;
    color: #20b5a1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(40px);
}

.works-school__button {
    width: rem(200px);
    height: rem(45px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00bfa5;
    border-radius: 5px;
    font-family: 'Roboto Medium', Arial, Helvetica, sans-serif;
    color: white;
    align-self: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
        background-color: #009688;
    }
}

.works-school__button-img {
    display: flex;
    align-items: center;
    margin-right: rem(10px);
}

.link-img {
    width: rem(20px);
    height: rem(20px);
    fill: #FFF;
}

.works-sites__up {
    background: rgba(#b6b4ae, 0.7);
    display: flex;
    justify-content: center;
    width: 100%;
}

.works-sites__down {
    background: rgba(#b6b4ae, 0.7);
    display: flex;
    justify-content: center;
    width: 100%;
}

.works-sites {
    width: 50%;
    max-height: rem(525px);
    height: rem(525px);
    background-color: #efebe0;
    display: flex;
    justify-content: center;
    @include tablets {
        height: initial;
        order: 1;
        width: 100%;
    }
}

.works-sites__other {
    display: flex;
    flex-wrap: wrap;
    height: rem(225px);
    @include tablets {
        order: 3;
        width: 100%;
    }
}

.works-sites__main-img {
    align-self: center;
    width: 100%;
    height: 100%;
}

.works-sites-slider__down {
    background: url(../images/sites2.png) center center no-repeat;
}

.arrow__down-portfolio {
    align-self: center;
    width: rem(43px);
    height: rem(27px);
    opacity: 1;
}

.arrow__up-portfolio {
    align-self: center;
    width: rem(43px);
    height: rem(27px);
    opacity: 1;
}

.works-sites-slider__up {
    background: url(../images/sites3.png) center center no-repeat;
}

.works-sites-slider {
    width: 50%;
    background-size: cover;
    height: rem(225px);
    display: flex;
    justify-content: center;
}

.works-sites__down-img {
    width: 100%;
}

.works-sites__up-img {
    width: 100%;
}

.works-heading__wrap-about-me {
    background: url("../images/about_header.png") center center no-repeat;
    background-size: contain;
    margin: 0;
}

.works-review__heading-inactive {
    margin-top: rem(-15px);
}

.works-heading__about-me {
    //background: white;
    background: none;
    width: 100%;
}

.works-reviews {
    background: url('../images/works_bg.png') center center no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.works-reviews__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(70px);
    @include phones {
        flex-direction: column;
    }
}

.heading-text__about-me {
    color: $darkheading;
    &::before {
        margin-top: rem(40px);
    }
    &::after {
        margin-top: rem(40px);
        &:last-child {
            content: none;
        }
    }
}

.works__review {
    position: relative;
}

.work-review-row {
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    vertical-align: top;
    max-width: rem(380px);
    @include tablets {
        font-size: rem(14px);
        max-width: rem(350px);
        padding-left: rem(5px);
        padding-right: rem(5px);
    }
    @include phones {
        width: 100%;
        padding-left: rem(10px);
        padding-right: rem(10px);
    }
}

.review__icon {
    @include phones {
        display: flex;
        justify-content: center;
    }
}

.review__text {
    font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;
    color: $darkolive;
}

.review-autor {
    display: flex;
    align-items: center;
}

.review-autor__desc {
    display: flex;
    flex-direction: column;
    margin-left: rem(20px);
}

.review-autor__name {
    font-family: 'Roboto Bold', Arial, Helvetica, sans-serif;
    color: #20b5a1;
}

.review-autor__occup {
    font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;
    color: #20b5a1;
}

.works-form {
    width: rem(380px);
    height: rem(440px);
    margin-bottom: rem(70px);
    background: rgba($color: #FFF, $alpha: 0.5);
    text-align: center;
    @include phones {
        width: rem(300px);
    }
}

.contact-me__container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.contact-me__buttons {
    display: flex;
}

.contact-me__buttons {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.contact-me__form-button {
    width: 50%;
    height: rem(45px);
    background-color: #268a8a;
    border: 0px solid;
    font-family: 'Roboto Medium', Arial, Helvetica, sans-serif;
    color: white;
    cursor: pointer;
    &:hover {
        background-color: #26bbaa;
    }
}

.contact-me__form-button_left {
    border-right: 1px solid #82b7b9;
    border-radius: 0 0 0 5px;
}

.contact-me__form-button_right {
    border-left: 1px solid #82b7b9;
    border-radius: 0 0 5px 0;
}

.works-form__heading {
    font-family: 'Bernier Regular', Arial, Helvetica, sans-serif;
    font-size: rem(35px);
    line-height: rem(41px);
    color: $darkolive;
    &::before {
        content: ' ';
        width: rem(22px);
        height: rem(5px);
        background-color: $grey;
        display: inline-block;
        vertical-align: middle;
        margin-right: rem(20px);
        margin-bottom: rem(5px);
    }
    &::after {
        content: ' ';
        width: rem(22px);
        height: rem(5px);
        background-color: $grey;
        display: inline-block;
        vertical-align: middle;
        margin-left: rem(20px);
        margin-bottom: rem(5px);
    }
    @include tablets {
        font-size: rem(30px);
    }
    @include phones {
        font-size: rem(21px);
        line-height: rem(41px);
    }
}

.contact-me__form-input {
    width: 85%;
    height: rem(45px);
    border-radius: 5px;
    padding-left: rem(20px);
    margin-bottom: rem(20px);
    font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;
    color: #aeb0b1;
    border: 0px solid;
    &:focus {
        outline: none;
    }
}

.contact-me__form-input_textarea {
    height: rem(140px);
    padding-top: rem(15px);
}

.contact-me__arrow {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: rem(70px);
}

.fa-quote-left {
    font-size: 28px;
    color: #cfd4d5;
}