@font-face {
    font-family: 'Bernier Disstressed';
    src: url('../webfonts/BERNIERDistressed-Regular.otf');
}

@font-face {
    font-family: 'Bernier Regular';
    src: url('../webfonts/BERNIERRegular-Regular.otf');
}

@font-face {
    font-family: 'Bernier Shade';
    src: url('../webfonts/BERNIERShade-Regular.otf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../webfonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto Bold Italic';
    src: url('../webfonts/Roboto-BoldItalic.ttf');
}

@font-face {
    font-family: 'Roboto Italic';
    src: url('../webfonts/Roboto-Italic.ttf');
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../webfonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto Light Italic';
    src: url('../webfonts/Roboto-LightItalic.ttf');
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('../webfonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto Medium Italic';
    src: url('../webfonts/Roboto-MediumItalic.ttf');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../webfonts/Roboto-Regular.ttf');
}