.person__image {
    border-radius: 50%;
}

.person__name {
    font-family: 'Roboto Medium', Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: $darkolive;
    margin-bottom: rem(10px);
}

.person__desc {
    font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;
    color: $lightgrey;
}