.person__image {
    border-radius: 50%;
}

.person__name {
    font-family: 'Roboto Medium', Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: $darkolive;
    margin: 0;
}

.person__desc-text {
    font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;
    color: $lightgrey;
}

.person-desc {
    margin-bottom: rem(35px);
}